.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
}
.container {
  padding: 0 22rem;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2.5rem;
  }
}
