.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
}

.blogItemh3 {
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.blogItemp {
  max-width: 45vw;
  margin-bottom: 2rem;
}
.btn {
  color: white;
  background-color: black;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 9px;
  font-size: 12px;
}
